@font-face {
  font-family: "MartianMono";
  src: url("./MartianMono-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: "MartianMono";
}
